{% extends 'catalog/base.html' %}

{% block title %}
{% endblock %}

{% block menu %}
<button class="contacts-link" onclick="window.location.href='contact.html'">Контакты</button>
<button class="blog-link" onclick="window.location.href='blog.html'">Блог</button>
{% endblock %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Добро пожаловать на главную страницу</h1>
        <p class="lead text-muted"></p>
        <p>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <button class="btn btn-success"
                        onclick="window.location.href='/product/create/'">Создать продукт</button>
            </div>
        </div>
        <div class="row">
            {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        {% if object.image %}
                        <img src="{{ object.image.url }}"/>
                        {% endif %}
                        <p class="card-text">
                        <h2>{{ object.name }}</h2>
                        {% if object.active_version %}
                        <p>Активная версия: {{ object.active_version.version_number }}</p>
                        {% endif %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button class="details-link"
                                        onclick="window.location.href='/product/{{ object.id }}'">Подробнее</button>
                                <button class="btn btn-primary"
                                        onclick="window.location.href='/product/{{ object.id }}/update/'">Редактировать</button>
                                <button class="btn btn-danger"
                                        onclick="window.location.href='/product/{{ object.id }}/delete/'">Удалить</button>
                            </div>
                            <small class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}